h1{
    font-size: 50px;
    color:orangered;

}

h2{
    font-size: 30px;
    color:orangered;
}
a{
    font-size: 20px;
    color: orangered;
}

img{
    width:400px;
    border: 25px solid orangered;
}